#### 기본 입출력 문제

10818, 8393, 1924, 2739, 2742, 2741, 11721, 11720, 11718, 11719, 11021, 11022, 10953, 10951, 10952, 10950, 2558, 2438, 2439, 2440, 2441, 2442, 2445, 2446, 2522, 10991, 10992

#### 10818

In [2]:
n = int(input())
num = list(map(int,input().split()))

print(min(num),max(num))

3
1 44 3
1 44

#### 8393

In [3]:
n = int(input())

sum_ = 0
for i in range(1,n+1):
    sum_ +=i
print(sum_)

3
6

#### 1924[otherCode][again]

In [4]:
A = ['SUN','MON','TUE','WED','THU','FRI','SAT']
B = [31,28,31,30,31,30,31,31,30,31,30,31]

month ,date = map(int,input().split())
Day = 0

for i in range(0,month-1):
    Day += B[i]
Day = (Day + date) % 7
print(A[Day])

1 1
MON

#### 2739

In [5]:
n = int(input())

for i in range(1,9+1):
    print(f'{n} * {i} = {n*i}')

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

#### 2742

In [6]:
n = int(input())

for i in range(n,0,-1):
    print(i)

5
5
4
3
2
1

#### 2741

In [7]:
n = int(input())

for i in range(1,n+1):
    print(i)

5
1
2
3
4
5

#### 11721

In [16]:
word = list(input())
i = 0

for i in range(0, len(word),10):
    print(''.join(word[i:i+10]))

hifdnsafklsj
hifdnsafkl
sj

#### 11720

In [18]:
num = int(input())
numbers = input()
sum_ = 0

for number in numbers:
    sum_ +=int(number)
print(sum_)

5
54321
15

#### 11718 & 11719

In [ ]:
while True:
    try:
        print(input())
    except EOFError:
        break

#### 11021

In [15]:
n = int(input())

for i in range(1,n+1):
    case = list(map(int,input().split()))
    print(f'Case #{i}: {sum(case)}')

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

#### 11022

In [22]:
n = int(input())

for i in range(1,n+1):
    case1,case2 = list(map(int,input().split()))
    print(f'Case #{i}: {case1} + {case2} = {case1+case2}')

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

#### 10953

In [24]:
n = int(input())

for i in range(1,n+1):
    case = list(map(int,input().split(',')))
    print(sum(case))

3
1,1
2
2,3
5
3,4
7

#### 10951

In [ ]:
while True:
    try:
        case = map(int,input().split())
        print(sum(case))
    except EOFError:
        break

#### 10952

In [33]:
while True:
    case1,case2 = map(int,input().split())
    if case1==0 and case2==0:
        break
    print(case1+case2)

2 2
4
3 5
8
0 0

#### 10950

In [38]:
n = int(input())

for i in range(1,n+1):
    case = map(int,input().split())
    print(sum(case))

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

#### 2558

In [52]:
num1 = int(input())
num2 = int(input())

print(num1+num2)

2
2
4

#### 2438

In [53]:
n = int(input())
for i in range(1,n+1):
    print('*'*i)

5
*
**
***
****
*****

#### 2439

In [54]:
n = int(input())

for i in range(1,n+1):
    print(' '*(n-i)+'*'*i)

5
    *
   **
  ***
 ****
*****

#### 2440[mycode]

In [55]:
num = int(input())

for i in range(num):
    for j in range(num-i):
        print('*',end='')
    print('')

5
*****
****
***
**
*

#### 2440[othercode]

In [56]:
n = int(input())
for i in range(n,0,-1):
    print('*'*i)

5
*****
****
***
**
*

#### 2441

In [57]:
n = int(input())
for i in range(n,0,-1):
    print(' '*(n-i)+"*"*i)

5
*****
 ****
  ***
   **
    *

#### 2442

In [58]:
num = int(input())

for i in range(1,num+1):
        print(' '*(num-i)+'*'*((2*i)-1))

5
    *
   ***
  *****
 *******
*********

#### 2445

In [59]:
n = int(input())

for i in range(1,n):
    print('*'*i+' '*(2*(n-i))+'*'*i)
for i in range(n,0,-1):
    print('*'*i+' '*2*(n-i)+'*'*i)

5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

#### 2446

In [60]:
n = int(input())

for i in range(n,0,-1):
    print(" "*(n-i) + "*"*((2*i)-1))
for i in range(2,n+1):
    print(' '*(n-i)+'*'*((2*i)-1))

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

#### 2522[mycode]

In [61]:
n = int(input())
for i in range(1,2*n):
    if (n < i):
        print(' '*(i-n)+'*'*((2*n)-i))
    else:
        print(' '*(n-i)+'*'*i)

5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

#### 2522[otherCode]
rjust, ljust 함수 사용
- rjust : 오른쪽 정렬    
- ljust : 왼쪽 정렬

In [62]:
n = int(input())

for a in range(1, n+1):
    print(('*' * a).rjust(n))

for a in range(n-1, 0, -1):
    print(('*' * a).rjust(n))

5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

#### 10991

In [63]:
n = int(input())

for i in range(1,n+1):
    print(' '*(n-i),end='')
    for _ in range(i):
        print('*',end=' ')
    print()

5
    *
   * *
  * * *
 * * * *
* * * * *

#### 10992

In [64]:
n = int(input())

for i in range(1,n+1):
    if i == 1:
        print(' '*(n-i)+'*')
    elif i == n:
        print('*'*(2*i-1))
    else:
        print(' '*(n-i)+'*'+' '*(2*i-3)+'*')

5
    *
   * *
  *   *
 *     *
*********